.articleWrapper {
  height: 380px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px #ccc;
}
.articleWrapper img {
  width: 100%;
}
.articleWrapper h3 {
  text-align: right;
  padding: 8px;
}
.articleWrapper p {
  text-align: right;
  padding: 8px;
  color: #7c7c7c;
}
