.creatPage {
}
.creatPage h3 {
  display: flex;
  justify-content: end;
  text-align: right;
  margin-top: 40px;
}

.buttonWrapper {
  text-align: right;
}
.buttonWrapper button {
  padding: 5px 10px;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.buttonWrapper button:active {
  opacity: 0.8;
}
