.homeWrapper h2 {
  text-align: right;
  margin-top: 60px;
  font-size: 20px;
}
.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.homeWrapper h2 {
  margin-bottom: 20px;
}
.articles a {
  width: 23%;
}
