.inputWrapper {
  margin-bottom: 20px;
  text-align: right;
}
.inputWrapper label {
  display: block;
  margin-top: 50px;
  text-align: right;
  color: #b2b0b0;
}

.inputWrapper input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: solid #ccc;
  border-radius: 5px;
  text-align: right;
}
