.textareaWrapper {
}
.textareaWrapper label {
  display: block;
  margin-bottom: 15px;
  text-align: right;
  color: #a3a2a2;
}
.textareaWrapper textarea {
  width: 100%;
  min-height: 200px;
  border: solid #ccc;
  border-radius: 5px;
}
